.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.subText {
  color: #8585AD;
  margin-top: 56px;
}

.subLink {
  text-decoration: none;
  color: #4C4CFF;
  transition: color .3s linear;
}

.subLink:hover {
  color: white;
}