.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.burgerConstructor {
  width: 700px;
  max-height: calc(100vh - 290px);
  box-sizing: border-box;
}

.ingredients_ul {
  composes: flex;
  gap: 10px;
  padding: 12px 0;
  margin: 0 0 0 60px;
  list-style: none;
  width: 570px;
  border-radius: 77px;
  min-height: 530px;
}

.stash_container {
  composes: flex;
  align-items: center;
  align-self: center;
  margin-top: 40%;
  gap: 10px
}

.stash {
  max-width: 400px;
  text-align: center;
}

.main_ingredients_ul {
  composes: flex;
  gap: 10px;
  padding: 0 5px 0 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 364px;
}

.list_element {
  padding: 0 16px 0 0;
}

.list_main_element {
  width: 99%;
}

.sum_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sum {
  composes: sum_container;
  gap: 8px
}