.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 644px;
  padding: 15px;
}

.containerIsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.orderNumber {
  text-align: center;
}

.orderStat {
  display: flex;
  flex-direction: column;
  max-height: 366px;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin :0;
  
}

.orderStatContainer {
  display: flex;
  align-items: center;
  width: 608px;
}

.orderStatImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: linear-gradient(45deg, #801AB2, #4D4DFF);
  border-radius: 50%;
}

.orderStatImage {
  object-fit: cover;
  width: 58px;
  height: 58px;
  background-color: #131316;
  border-radius: 50%;
}

.orderStatPriceContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px
}

.subContainer {
  display: flex;
  justify-content: space-between;
}