.ingredients_container {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: calc(100vh - 320px);
  overflow-y: auto;

  /* ? overwrite library property for scrollbar because it has small browser support */
  scrollbar-color: auto;
}

.ingredients_ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 32px 16px;
  padding: 0 16px 0 12px;
  margin: 0;
}